zone = "us-central1-a"

region  = "us-central1"

project  = "erad"

machine_type = "e2-medium"

count_manager = 1

count_worker = 1

user_name = "erad"

key_ssh = "~/.ssh/id_rsa.pub"


firewall_port_UDP = ({
    "docker_swarm_container_ingress_net"="4789",
    "node_exporter"="9100",
    "swarm_management_communications"="2377",
    "docker_swarm_container_net_sd"="7946"
})

firewall_port_TCP = ({
    "ssh"="22",
    "node_exporter"="9100",
    "prometheus"="9090",
    "grafana"="3000",
    "cadvisor"="8080",
    "criticancia"="80",
    "portainer"="9000",
    "swarm_management_communications"="2377",
    "docker_swarm_container_net_sd"="7946",
    "docker_swarm_container_ingress_net"="4789",
    "criticancia_api"="32566"
})