zone = "us-central1-a"

region  = "us-central1"

project  = "erad"

count_manager = 1

count_worker = 1

user_name = "erad"

subnet  = "subnetwork"

ip_cidr_range_public = "10.10.0.0/24"

ip_cidr_range_private = "10.20.10.0/24"

key_ssh = "~/.ssh/id_rsa_gcp_erad.pub"

port_firewall_public =["22","7979", "9090", "3000", "8080", "9000"]

port_firewall_private = ["22", "7979","9100", "9090", "3000", "8080", "9000", "2377"]