global:
  scrape_interval:     15s 
  evaluation_interval: 15s 

alerting:
  alertmanagers:
  - static_configs:
    - targets:
      {% for target in targets_alertmanager %}
      - {{target}}:{{port_alertmanager}}
      {% endfor %}

scrape_configs:
  - job_name: 'prometheus'
    scrape_interval: 5s
    static_configs:
    - targets: 
      {% for target in targets_prometheus %}
      - {{target}}:{{port_prometheus}}
      {% endfor %}

  - job_name: 'node-exporter'
    scrape_interval: 5s
    static_configs:
    - targets:
      {% for target in targets_node_exporter %}
      - {{target}}:{{port_node_exporter}}
      {% endfor %}

  - job_name: cadvisor
    scrape_interval: 5s
    static_configs:
    - targets:
      {% for target in targets_cadvisor %}
      - {{target}}:{{port_cadvisor}}
      {% endfor %}