- name: "Provision Docker Swarm Cluster"
  hosts: all
  become: yes
  vars_files:
    - vars.yml
  roles:
    - role: swarm
    - role: rexray

- name: "Provision - Monitoring"
  hosts: all
  become: yes
  roles:
    - role: node_exporter
    - role: stack-monitoring